aiofiles
Authlib
fastapi
firebase-admin
fitz
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-speech
google-cloud-storage
google-generativeai
itsdangerous
pydantic
python-dotenv
PyMuPDF
starlette
uvicorn
websockets
